<!-- Footer -->

<footer id="footer">
  
    <a href="https://www.facebook.com/AviatorsInternational/" target="_blank"><i class="fab fa-facebook icons-footer"></i></a>
    <a href="https://www.instagram.com/teamaviatorsinternational/?hl=en" target="_blank"><i class="fab fa-instagram icons-footer"></i></a>
    <a href="https://teamaviatorsinternational.in/#/" target="_blank"><i class="fab fa-chrome icons-footer"></i></a>
    <a href="https://www.linkedin.com/company/team-aviators-international/?originalSubdomain=in" target="_blank"><i class="fab fa-brands fa-linkedin icons-footer"></i></a>
    <p class="footer-para">© Copyright Team ABC</p>
  
  </footer>
  
</body>
</html>