<%- include("partials/accountheads") -%>
<script>
    callFrame = window.DailyIframe.createFrame();
    callFrame.join({ url: 'https://drobulance.daily.co/DrobulanceVideoCall' });
  </script>

<div class="row">
  <div class="col-lg-4">
    <div class="paramsTitle">
        <h1 class="title">Temperature</h1>
    </div>
    <iframe src="https://thingspeak.com/channels/1668276/widgets/428014"></iframe>
  </div>
  <div class="col-lg-4">
    <div class="paramsTitle">
      <h1 class="title">Heart Rate</h1>
    </div>
    <iframe src="https://thingspeak.com/channels/1668276/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>

  </div>
</div>


